@tailwind base;
@tailwind components;
@tailwind utilities;



.nav_link:hover{
    background-color: #020617;
    height: 100%;
    align-items: center;
    color: rgb(244 244 245);
}
.cursor_stuff:hover{
  cursor: pointer;
}
/* .score{
  transform: scale(.75, 2);
} */

/* view hight classes */
.vh-5 {
  height: 5vh;
}

.vh-10 {
  height: 10vh;
}

.vh-15 {
  height: 15vh;
}

.vh-20 {
  height: 20vh;
}

.vh-25 {
  height: 25vh;
}

.vh-30 {
  height: 30vh;
}

.vh-35 {
  height: 35vh;
}

.vh-40 {
  height: 40vh;
}

.vh-45 {
  height: 45vh;
}

.vh-50 {
  height: 50vh;
}

.vh-55 {
  height: 55vh;
}

.vh-60 {
  height: 60vh;
}

.vh-65 {
  height: 65vh;
}

.vh-70 {
  height: 70vh;
}

.vh-75 {
  height: 75vh;
}

.vh-80 {
  height: 80vh;
}

.vh-85 {
  height: 85vh;
}

.vh-90 {
  height: 90vh;
}

.vh-95 {
  height: 95vh;
}

/* percentage height classes */
.hp-5 {
  height: 5%;
}

.hp-10 {
  height: 10%;
}

.hp-15 {
  height: 15%;
}

.hp-20 {
  height: 20%;
}

.hp-25 {
  height: 25%;
}

.hp-30 {
  height: 30%;
}

.hp-35 {
  height: 35%;
}

.hp-40 {
  height: 40%;
}

.hp-45 {
  height: 45%;
}

.hp-50 {
  height: 50%;
}

.hp-55 {
  height: 55%;
}

.hp-60 {
  height: 60%;
}

.hp-65 {
  height: 65%;
}

.hp-70 {
  height: 70%;
}

.hp-75 {
  height: 75%;
}

.hp-80 {
  height: 80%;
}

.hp-85 {
  height: 85%;
}

.hp-90 {
  height: 90%;
}

.hp-95 {
  height: 95%;
}

/* view width classes*/
.vw-5 {
  width: 5vw;
}

.vw-10 {
  width: 10vw;
}

.vw-15 {
  width: 15vw;
}

.vw-20 {
  width: 20vw;
}

.vw-25 {
  width: 25vw;
}

.vw-30 {
  width: 30vw;
}

.vw-35 {
  width: 35vw;
}

.vw-40 {
  width: 40vw;
}

.vw-45 {
  width: 45vw;
}

.vw-50 {
  width: 50vw;
}

.vw-55 {
  width: 55vw;
}

.vw-60 {
  width: 60vw;
}

.vw-65 {
  width: 65vw;
}

.vw-70 {
  width: 70vw;
}

.vw-75 {
  width: 75vw;
}

.vw-80 {
  width: 80vw;
}

.vw-85 {
  width: 85vw;
}

.vw-90 {
  width: 90vw;
}

.vw-95 {
  width: 95vw;
}

/* percentage width classes */
.wp-5 {
  width: 5%;
}

.wp-10 {
  width: 10%;
}

.wp-15 {
  width: 15%;
}

.wp-20 {
  width: 20%;
}

.wp-25 {
  width: 25%;
}

.wp-30 {
  width: 30%;
}

.wp-35 {
  width: 35%;
}

.wp-40 {
  width: 40%;
}

.wp-45 {
  width: 45%;
}

.wp-50 {
  width: 50%;
}

.wp-55 {
  width: 55%;
}

.wp-60 {
  width: 60%;
}

.wp-65 {
  width: 65%;
}

.wp-70 {
  width: 70%;
}

.wp-75 {
  width: 75%;
}

.wp-80 {
  width: 80%;
}

.wp-85 {
  width: 85%;
}

.wp-90 {
  width: 90%;
}

.wp-95 {
  width: 95%;
}

.hvw-5 {
  height: 5vw;
}

.hvw-10 {
  height: 10vw;
}

.hvw-15 {
  height: 15vw;
}

.hvw-20 {
  height: 20vw;
}

.hvw-25 {
  height: 25vw;
}

.hvw-30 {
  height: 30vw;
}

.hvw-35 {
  height: 35vw;
}

.hvw-40 {
  height: 40vw;
}

.hvw-45 {
  height: 45vw;
}

.hvw-50 {
  height: 50vw;
}

.hvw-55 {
  height: 55vw;
}

.hvw-60 {
  height: 60vw;
}

.hvw-65 {
  height: 65vw;
}

.hvw-70 {
  height: 70vw;
}

.hvw-75 {
  height: 75vw;
}

.hvw-80 {
  height: 80vw;
}

.hvw-85 {
  height: 85vw;
}

.hvw-90 {
  height: 90vw;
}

.hvw-95 {
  height: 95vw;
}

.hvw-100 {
  height: 100vw;
}

.wvh-5 {
  width: 5vh;
}

.wvh-10 {
  width: 10vh;
}

.wvh-15 {
  width: 15vh;
}

.wvh-20 {
  width: 20vh;
}

.wvh-25 {
  width: 25vh;
}

.wvh-30 {
  width: 30vh;
}

.wvh-35 {
  width: 35vh;
}

.wvh-40 {
  width: 40vh;
}

.wvh-45 {
  width: 45vh;
}

.wvh-50 {
  width: 50vh;
}

.wvh-55 {
  width: 55vh;
}

.wvh-60 {
  width: 60vh;
}

.wvh-65 {
  width: 65vh;
}

.wvh-70 {
  width: 70vh;
}

.wvh-75 {
  width: 75vh;
}

.wvh-80 {
  width: 80vh;
}

.wvh-85 {
  width: 85vh;
}

.wvh-90 {
  width: 90vh;
}

.wvh-95 {
  width: 95vh;
}

.wvh-100 {
  width: 100vh;
}
